<header>
    <div class="logo-area-container">

    </div>
    <nav class="header-navbar-container">
        <app-navbar></app-navbar>
    </nav>
</header>

<main>
    <section class="main-container">
        <div class="breadcrumb"></div>
        <div class="content-container">
            <aside class="sidebar">
                <app-navbar-side></app-navbar-side>
            </aside>
            <div class="products-container">
            <div class="filter"></div>
            <app-product-list></app-product-list>
            </div>
        </div>
        <div class="sub-main-container">

        </div>
    </section>


</main>
<footer>
    <div class="footer-container">
        <div class="footer-content"></div>
        <div class="copyright"></div>
    </div>


</footer>